<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zachary.delivery_system.mapper.DeliveryMapper">

    <resultMap id="BaseResultMap" type="com.zachary.delivery_system.entity.Delivery">
            <result property="id" column="id" />
            <result property="customerName" column="customer_name" />
            <result property="customerPhone" column="customer_phone" />
            <result property="address" column="address" />
            <result property="ownerId" column="owner_id" />
            <result property="driverId" column="driver_id" />
            <result property="status" column="status"
                    javaType="com.zachary.delivery_system.enums.DeliveryStatus"
                    typeHandler="org.apache.ibatis.type.EnumTypeHandler" />
            <result property="createdAt" column="created_at" />
            <result property="updatedAt" column="updated_at" />
            <result property="deliveredAt" column="delivered_at" />
            <result property="destinationLongitude" column="destination_longitude" />
            <result property="destinationLatitude" column="destination_latitude" />
            <result property="pickupLongitude" column="pickup_longitude" />
            <result property="pickupLatitude" column="pickup_latitude" />
            <result property="priority" column="priority"
                    javaType="com.zachary.delivery_system.enums.DeliveryPriority"
                    typeHandler="org.apache.ibatis.type.EnumTypeHandler" />
            <result property="packageWeightKg" column="package_weight_kg" />
            <result property="timeWindowStart" column="time_window_start" />
            <result property="timeWindowEnd" column="time_window_end" />
            <result property="version" column="version" />
    </resultMap>

    <sql id="Base_Column_List">
        id,customer_name,customer_phone,address,owner_id,driver_id,status,
        created_at,updated_at,delivered_at, destination_longitude,
        destination_latitude,pickup_longitude,pickup_latitude,priority,
        package_weight_kg,time_window_start,time_window_end,version
    </sql>
</mapper>
