<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zachary.delivery_system.mapper.DriverMapper">

    <resultMap id="BaseResultMap" type="com.zachary.delivery_system.entity.Driver">
            <result property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="fullName" column="full_name" />
            <result property="phone" column="phone" />
            <result property="active" column="active" />
            <result property="available" column="available" />
            <result property="vehicleCapacityKg" column="vehicle_capacity_kg" />
            <result property="version" column="version" />
            <result property="createdAt" column="created_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,full_name,phone,active,available,vehicle_capacity_kg,version,created_at
    </sql>
</mapper>
